*{
    padding:0;
    margin: 0;
}

body{
    height: 100vh;
    background : linear-gradient(
        to right,
        #3E418D 0%, 
        #3E418D 35%,
        #FFEBF6 35%,
        #FFEBF6 100%
    );
}

#left h1{
    display: flex;
    transform: translate(5%, 90%);

    font-size: 350%;
    color: white;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

#left h2{
    display: flex;
    transform: translate(14%, 180%);
    
    text-align: center;
    line-height: 200%;
    font-size: 200%;
    color: white;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

img{
display: flex;
transform: translate(175%,-130%);

}



#right h1{
    display: flex;
    text-align: center;
    transform: translate(48%,50%);

    font-size: 250%;
    color: rgb(0, 0, 0);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#right h2{
    display: flex;
    text-align: center;
    transform: translate(61%,50%);
    line-height: 200%;
    font-size: 180%;
    color: rgb(0, 0, 0);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


#mon{
    cursor: pointer;
}

#monSongImagemorn{
    margin-top: 5%;
    transform: translate(160%,-160%);
    scale: 80%;
}

#monSongImagenight{
    margin-top: 5%;
    scale: 58%;
    transform: translate(250%,-330%);
}

#mondaymornsong{
    font-size: 120%;
    margin-left: 35%;
}
#mondaynightsong{
    font-size: 120%;
    margin-left: 2%;
}

#tues{
    cursor: pointer;
}

#tuesSongImagemorn{
    scale: 68%;
    transform: translate(150%,-140%);

}
#tuesSongImagenight{
    scale: 68%;
    transform: translate(270%,-287%);
}

#tuesdaymornsong{
    font-size: 120%;
    margin-left: 45%;
}

#tuesdaynightsong{
    font-size: 120%;
    margin-left: 13%;
}

#wed{
    cursor: pointer;
}

#Wednesdaymornsong{
    scale: 68%;
    transform: translate(150%,200%);
    margin-left: 42%;
    font-size: 120%;
}

#Wednesdaynightsong{
    scale: 68%;
    transform: translate(270%,-287%);
    margin-left: 6%;
    font-size: 120%;
}

#wedSongImagemorn{
    scale: 35%;
    transform: translate(80%,-210%);
}

#wedSongImagenight{
    scale: 70%;
    transform: translate(270%,-425%);
}

#thurs{
    cursor: pointer;
}

#Thursdaymornsong{
    scale: 68%;
    transform: translate(150%,200%);
    margin-left: 43%;
    font-size: 120%;
}

#Thursdaynightsong{
    scale: 68%;
    transform: translate(270%,-287%);
    margin-left: 14%;
    font-size: 120%;
}

#thursSongImagemorn{
    scale: 46%;
    transform: translate(130%,-178%);
}

#thursSongImagenight{
    scale:55%;
    transform: translate(275%,-370%);
}

#fri{
    cursor: pointer;
}

#Fridaymornsong{
    scale: 68%;
    transform: translate(150%,200%);
    margin-left: 49%;
    font-size: 120%;
}

#Fridaynightsong{
    scale: 68%;
    transform: translate(270%,-287%);
    margin-left: 6%;
    font-size: 120%;
}

#friSongImagemorn{
    scale: 71%;
    transform: translate(150%,-140%);
}

#friSongImagenight{
    scale:70%;
    transform: translate(275%,-285%);
}

#sat{
    cursor: pointer;
}

#Saturdaymornsong{
    scale: 68%;
    margin-left: 41%;
    font-size: 120%;
}

#Saturdaynightsong{
    scale: 68%;
    margin-left: 2%;
    font-size: 120%;
}

#satSongImagemorn{
    scale: 50%;
    transform: translate(120%,-170%);
}

#satSongImagenight{
    scale:54%;
    transform: translate(250%,-366%);
}

#sun{
    cursor: pointer;
}

#Sundaymornsong{
    scale: 68%;
    margin-left: 43%;
    font-size: 120%;
}

#Sundaynightsong{
    scale: 68%;
    margin-left: 9%;
    font-size: 120%;
}

#sunSongImagemorn{
    scale: 57%;
    transform: translate(120%,-154%);
}

#sunSongImagenight{
    scale:26%;
    transform: translate(130%,-435%);
}
