*{
    padding:0;
    margin:0;
    color:#fff;
  }

  /* .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #030303;
    height: 100vh;
  }
  
  .value {
    font-size: 100px;
    display: block;
    font-weight: bold;
    color: #fff;
  } */


body {
    background-color:#000000;
    text-align: center;
    display: flex;
    justify-content: space-around;  
    margin:0;
	color:#333;

}
  
.intro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #030303;
    height: 100vh;
}

.intro h1{
    font-size: 50px;
    display: block;
    font-weight: bold;
    color: #fff;
}

.spacer {
	width:100%;
	height:50vh;
	background:#ddd;
}

.gallery h1 {
	font-size:clamp(2em, 4vw, 6em);
}

.gallery p {
	font-size:clamp(1.4em, 2.5vw, 3.5em);
	line-height:1.4;
}

.gallery {
  display:flex;	
}

.left {
	width:50%;
}

.right {
	height:100vh;
	width:50%;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.desktopContent {
	margin:auto;
	width:80%;
}

.desktopContentSection {
	min-height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.desktopPhotos {
	width:40vw;
	height:40vw;
	border-radius:20px;
	position:relative;
	overflow:hidden;
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.4);
}

.desktopPhoto {
	position:absolute;
	width:100%;
	height:100%;
}

.iphone{
	justify-content: center;
	margin: 0;
	scale: 20%;
	transform: translate(-115%,-180%);
}

.iphonesinside{
	justify-content: center;
	margin: 0;
	scale: 20%;
	transform: translate(-115%,-180%);
}

.desktoptext{
	display: flex;
	justify-content: space-around;
	align-items: center;
	transform: translateY(300%);

}

.desktopContentSectioncolors{
	text-align: left;
}

.red {
	background: crimson;
}

.green {
	background:MediumSeaGreen;
}

.blue {
	background:dodgerblue;
}

.pink{
	background:deepPink;
}

@media screen and (max-width: 599px) {
	.left {
		display:none;
	}
	
	.right {
		height:auto;
		width:100%;
		align-items:center;	
	}	
	
	.desktopPhotos {
		display:none;
	}
	
	.mobileContent {
		display:block;
	}
	
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200;400;700&display=swap');

body {
    margin: 0;
    height: 100vh;
    font-family: 'Poppins';
}
.wrapper {
    overflow-x: hidden;
    position: relative;

	width: 100vw;
}
* {
    box-sizing: border-box;
}

svg {
    position: absolute;
    top: 12em;
    left: 10vw;
    width: 50vw; 
	max-width: 100%;

    .mask {
        width: 0;
    }
}

.container {
    display: flex;
    width: 300vw;
	flex-wrap: nowrap;
	width: 100%;
	overflow-x: auto;

    .col {
        display: flex;
        gap: 3em;
        
        p {
            font-size: .8rem;
        }
    }

    section {
        width: 100vw;
        padding: 20vw 10vw;

        h1 {
            font-size: 3rem;
            margin: 0;
        }

        p {
            font-size: 1.2rem;
            width: 50vw;
        }

        ul {
            list-style-type: none;
            display: flex;
            gap: 3em;
            width: 100%;
            height: 300px;
            padding: 0;

            li {
                background: white;
                border-radius: .3em;
                flex-grow: 1;
            }
        }
    }
}

section {
    height: 100vh;

}

.container section {
    width: 100vw; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img {
    width: 350%;
    height: auto;
    max-height: 250%; 
    object-fit: cover; 
}


.cobalt1{
	transform: translate(-9%,16%);
	scale: 120%;
}
.cobalt2{
	transform: translate(40%,15%)
}
.cobalt3{
	transform: translate(80%,15%);
}


.graph{
	background-color: lightblue;
}

.graph h1{
	display: flex;
	color: black;
	text-align: center;
	font-size: 300%;
	justify-content: space-around;
	transform: translateY(650%);

	transform-origin: center;

}	


#myChart{
    position: absolute;
    scale: 70%;
    height: 100vh;
	display: flex;
	justify-content: space-around;

	transform-origin: center;
    display: block;
	visibility: hidden;
	max-width: 100%;
}


/* wyo */

#white-page{
    color: white;
}