body{
    display: flex;
    justify-content: center;
    background-color: rgb(12, 40, 75);
    max-width: 100%;
    flex-direction: column;
    min-height: 100vh;
    margin: 0; 
}

.tap-target {
    position: flex;
    flex-direction: column;
    justify-content: center;
    width: 16em;
    height: 16em;
    padding: 1em;
    margin: 1rem auto;
    box-sizing: border-box;
  
    border-radius: 100%;
  
    font-size: 1.125em;
    text-align: center;
    color: #fff;
    background-color: #29e;
  
    cursor: pointer;
    touch-action: none;
    user-select: none;
  
    transition: all 0.3s;
  }
  

#img{
    position: relative;
    scale: 40%;
    margin-top: -30%;
    transform: translate(30%, 0%);
}

#img h1{
    position: relative;
    font-size:400%;
    color: white;
}

#test{
    margin-top: -10%;
    border-style: dotted; 
    border-width: 5px; 
    width: 30%;
    color:white;
    transform: translate(120%,0%);
    height:20%;
}

#myChart{
    position: relative;
    scale: 70%;
    margin-top: 20%;
}

#myChart2{
    position: relative;
    scale: 70%;
    margin-top: 20%;
}


