.hidden{
    opacity: 0;
}
.showing{
    opacity:1;
}

.fa-expand{
    position:absolute;
    z-index: 1;

    top: 5%;
    right: 3%;
    font-size: 300%;
    color: orange;
}

.fa-expand:hover{
    cursor: pointer;
}

#fireworks{
    position:fixed;
    z-index: 0;

    bottom: 0;
    right: 0;

    width: 100%;
    height: 100%;
    object-fit: fill;
}
